<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/aest.css' />
  </head>
  <body>
    <% include partials/menu %>
    <div class="pagecontent">
        <p>Welcome to <%= page %></p>
    </div>
  </body>
  <% include partials/script %>
</html>
